.stick {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: lightcoral;
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
    z-index: 1;
}
nav {
    display: inline;
    position: relative;
    float: right;
}

.navi {
    display: inline;
    position: relative;
    padding-left: 10px;
    color: black;
}
.nav-color{
    color: black;
}
.nav-color:hover {
    color: floralwhite;
}

body {
    background: floralwhite;
}
article {
    background: floralwhite;
    padding-top: 50px;
    padding-left: 30px;
}

h2, h4, h5 {
    color: lightcoral;
}

img {
    height: 400px;
    width: 350px;
}

.button {
    background-color: lightcoral;
    font-weight: bold;
    box-shadow: lightgrey;
}

.col-sm-4 {
    box-sizing: border-box;
    font-size: larger;
    padding-right: 0px;
}

.price {
    font-weight: bold;
    color: lightcoral;
}

.container-fluid {
    padding-top: 20px;
    padding-left:20px;
}

.info {
    position: relative;

}
.about {
    text-align: center;
    font-size: x-large;

}

.map {
    position: relative;
    width: 700px;
    height: 700px;
    border: 1px solid lightcoral;
}

.links {
    font-size: 40px;
    position: relative;
    text-align: center;

}

.fa-youtube-square {
    color: red;
    position: inherit;
}

a.fa-youtube-square:hover {
    color: firebrick;

}

.fa-google {
    background: mediumpurple;
    color: white;
    position: inherit;
    padding: 2px;
}

.fa-instagram {
    color: white;
    background-color: deeppink;
    position: inherit;
    padding: 2px;
}

.fa-linkedin-square {
    position: inherit;
    padding: 2px;
}

.table-des {
    position: relative;
    left: 22%;
    border: 1px solid lightcoral;
    width: 60%;
    font-size: larger;

}

tr.color-table:hover, .color {
    background-color: lightcoral;
}

.copywrite {
    color: white;
    position: relative;
    left: 33%;
}

.container {
    text-align: center;
}